* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

#contact_me_button {
    padding: 2px 10px;
    background-color: rgba(207, 171, 12, 0.456);
    border: 3px solid goldenrod;
}

nav>ul li {
    list-style: none;
    margin-right: 60px;
    margin-top: 14px;
    font-size: 18px;
    font-weight: 500;

}

.nav__title {
    font-weight: 800;
    font-size: 35px;
    color: rgb(241, 185, 170);
}

/* top banner start  */
.banner {
    position: relative;
}

.banner>img {
    width: 100%;
    height: auto;
}

.banner__text {
    position: absolute;
    top: 175px;
    right: 315px;
    left: 841px;
    color: white;
    font-size: 21px;
    text-align: right;
}

.banner__text button {
    padding: 10px 24px;
    margin-top: 8px;
    font-size: medium;
    border-radius: 6px;
    border: none;
}

/* top banner end  */

/* start main part here  */
main {
    position: relative;
}

.hero__section {
    position: relative;
    margin-bottom: 20px;
}

.hero__section img {
    position: absolute;
    left: 155px;

}

#my__failures {
    position: absolute;
    top: 309px;
    left: 806px;
    right: 330px;
}

.check__list span {
    color: green;
    font-size: medium;
    font-weight: bold;
    margin-right: 5px;
}

.my__plans__heading {
    position: absolute;
    top: 790px;
    left: 690px;
}

.plan {
    text-align: center;
}

.plans__item {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 859px;
    left: 50px;
    right: 50px;
    margin-bottom: 30px;
}

.watch___section {
    position: absolute;
    top: 1037px;
    left: 165px;
}

.watch_image_section {
    position: relative;
}

.watch_image_section {
    background-image: linear-gradient(hsla(0, 100%, 50%, 0.65), hsla(120, 100%, 25%, 0.65));
}

.watch_image_text {
    position: absolute;
    left: 49px;
    bottom: 60px;
    opacity: 0.57;
    color: white;
}



#call_now {
    padding: 10px 24px;
    margin-top: 8px;
    font-size: medium;
    border-radius: 6px;
    border: none;
}

/* ended main part here  */

/* start footer styling  */
.footer__position {
    position: relative;
}

.footer__flex {
    display: flex;
    position: absolute;
    justify-content: space-between;
    background-color: rgb(7, 7, 7);
    color: white;
    padding-right: 20px;
    padding-top: 40px;
    height: 270px;
    top: 1435px;

}

.footer_future {
    margin-right: 40px;
    margin-left: 10px;
    padding-right: 456px;
    padding-left: 96px;
}



.subscribe__part {
    padding-right: 60px;
}



#subscribe_input_field {
    width: 225px;
    height: 26px;
    color: white;
    background-color: black;
    font-weight: bolder;
    padding-left: 14px;
    border: 1px solid white;
    margin-bottom: 12px;
    margin-top: 12px;
}

#subscribe_button {
    font-size: 16px;
    padding: 8px 37px;
}

/* ended footer styling  */